.images {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .thumbnails {
  display: flex;
} */

/* .thumbnails > div {
  position: relative;
  width: 113px;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 2rem 0.5rem;
}

.thumbnails > div::after {
  position: absolute;
  content: "";
  pointer-events: none;
  width: 105px;
  height: 105px;
  background: hsla(0, 0%, 100%, 0.6);
  border-radius: 10px;
} */

.active {
  border: 3px solid hsl(26, 100%, 55%);
}
